.SelectMenu {
    position: absolute;
    z-index: 1000;
    height: clamp(60vh, 60vh, 100vh);
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 20px 20px -10px rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.1s ease, height 0.3s ease, all 1s ease;
}

.SelectMenu.filterMenuOpen {
    height: clamp(calc(60vh + 57px), calc(60vh + 57px), 100vh);
}

.SelectMenu.sortByMenuOpen {
    height: clamp(calc(60vh + 47.6px), calc(60vh + 47.6px), 100vh);
}

.SelectMenu.filterMenuOpen.sortByMenuOpen {
    height: clamp(calc(60vh + 57px + 47.6px), calc(60vh + 57px + 47.6px), 100vh);
}

.SelectContent {
    height: 100%;
    width: 100%; 
    opacity: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 1s ease;
}

.CloseSelectMenu {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 25%;
    background-image: url(../../../public/assets/plus_icon_innerwhite.png);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: scale(1) rotate(45deg);
    cursor: pointer;
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.CloseSelectMenu:hover {
    transform: scale(1.1) rotate(45deg);
    opacity: 0.8;
}

.CloseSelectMenu:active {
    transform: scale(0.99) rotate(45deg);
}