.SelectMenu {
    position: fixed;
    z-index: 1000;
    height: 60vh;
    width: 50vw;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 20px 20px -10px rgb(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CloseSelectMenu {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 30px;
    aspect-ratio: 1/1;
    border-radius: 25%;
    background-image: url(../../../public/assets/plus_icon_innerwhite.png);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    transform: scale(1) rotate(45deg);
    cursor: pointer;
    opacity: 0.5;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.CloseSelectMenu:hover {
    transform: scale(1.1) rotate(45deg);
    opacity: 0.8;
}

.CloseSelectMenu:active {
    transform: scale(0.99) rotate(45deg);
}