.PokemonCard {
    position: relative;
    height: 94%;
    width: 94%;
    margin: 3%;
    border-radius: 10px;
    background-color: rgba(31, 31, 31, 0.3);
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.PokemonBackground {
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    height: 100%;
    width: 100%;
    //background-color: white;
    // background-image: url(../../../public/assets/pokemon_icon_backdrop.png);
    // background-position: 50% 0;
    // background-size: 200% 100%;
    // background-repeat: no-repeat;
    // background: linear-gradient(2deg,
    //     transparent 10%, 
    //     rgba(255, 255, 255, .4) 28%,
    //     rgba(25, 25, 25, 0.6) 29%,
    //     rgba(12, 34, 47, 0.3) 30%,
    //     rgb(208, 58, 88, 0.3) 72%,
    //     transparent 90%);
    // filter: blur(4px);

    // -webkit-mask-image: linear-gradient(to right, transparent 10%, rgb(0, 0, 0) 72%, transparent 90%);
    // -webkit-mask-size: cover;
    // mask-image: linear-gradient(to right, transparent 10%, rgb(0, 0, 0) 72%, transparent 90%);
    // mask-size: cover;
}

.ImageContainer {
    position: relative;
    z-index: 3;
    height: 80%;
    width: 80%;
}

.ImageContainer::after {
    content: '';
    position: absolute;
    z-index: -1;
    background-image: url(../../../public/assets/floor_shadow.png);
    background-position: 0% 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 120%;
    width: 120%;
    transform: translateX(-10%);
    top: 30%;
    opacity: 0.2;
    filter: blur(4px);
    //background-color: red;
}