.PokemonCard {
    position: relative;
    z-index: 1;
    height: 94%;
    width: 94%;
    margin: 3%;
    border-radius: 10px;
    cursor: pointer;
    //border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    pointer-events: all;
    transition: box-shadow 0.4s ease;
}

.PokemonCardContent {
    position: relative;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background-color: rgba(31, 31, 31, 0.3);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
    user-select: none;
}

.PokemonBackground {
    position: absolute;
    border-radius: 10px;
    z-index: 1;
    height: 100%;
    width: 100%;
    opacity: 0.9;
    box-shadow: inset 0 0 20px 0 rgba(31, 31, 31, 1);
    transition: background-image 0.5s ease;
}

.PokemonBackground::after {
    content: '';
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-image: url(../../../public/assets/pokemoncard_backdrop2.png);
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.ImageContainer {
    position: relative;
    z-index: 3;
    height: 80%;
    width: 80%;
    margin-bottom: 4px;
}

.AttributesContainer {
    position: absolute;
    z-index: 4;
    top: 0;
    left: 0;
    height: (calc(100% - 6px));
    width: (calc(100% - 6px));
    //background-color: aquamarine;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //grid-template-rows: 1fr 1fr 1.5fr;
    margin: 3px;
    //opacity: 0.9;
}

.AttributeRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin-bottom: 5px;
    //background-color: cadetblue;
}

.AttributeRow.middle {
    justify-self: flex-start;
}

.AttributeRow.end {
    margin-bottom: 0;
}

.NameEditContainer {
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.LevelAndGender {
    display: flex;
    height: fit-content;
    width: fit-content;
    justify-content: center;
    align-items: center;
}

.Edit {
    height: 10px;
    aspect-ratio: 1/1;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.Gender {
    height: 10px;
    aspect-ratio: 1/1;
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.PokemonName {
    font-family: "Public Pixel", sans-serif;
    font-size: 11px;
    color: white;
    margin-right: 2px;
}

.Level {
    font-family: "Public Pixel", sans-serif;
    font-size: 8px;
    color: white;
    margin-right: 2px;
    text-wrap: nowrap;
}

.PokedexNumber {
    font-family: "Public Pixel", sans-serif;
    font-size: 8px;
    color: white;
    margin-right: 2px;
}

.Types {
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    height: 12px;
    aspect-ratio: 64/56;
}

.ItemContainer {
    align-self: flex-start;
    border-radius: 2px;
    height: 24px;
    aspect-ratio: 1/1;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Item {
    image-rendering: pixelated;
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 80%;
    width: 80%;
}

.OptionsContainer {
    position: absolute;
    z-index: 5;
    bottom: 5px;
    right: 1px;
    height: 15px;
    //background-color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: width 0.3s ease;
}

.OptionIcon {
    height: 100%;
    aspect-ratio: 1/1;
    background-position: 0 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    filter: invert(1);
    opacity: 0.2;
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.OptionIcon.closed {
    background-image: url(../../../public/assets/three_dots.png);
}

.OptionIcon:hover {
    transform: scale(1.1);
    opacity: 1;
}

.PokemonCard:hover {
    box-shadow: 0px 0px 5px 0px white;
}

.PokemonCard:active {
    transform: scale(0.99);
}

.PokemonCard:hover .OptionIcon {
    opacity: 0.9;
}