.TeamOptions {
    position: relative;
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 5px 0 rgba(255, 255, 255, 0.2);
}