.TrainerSelectCardContainer {
    width: calc(95% - 40px);
    flex: 1 1;
    display: flex;
    flex-wrap: wrap;
    //flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    //background-color: crimson;
    margin-block: 3.65px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 20px;
    &::-webkit-scrollbar {
        display: flex;
        width: 4px;
        background-color: rgba(31, 31, 31, 0.6);
    }
    &::-webkit-scrollbar-thumb {
        display: flex;
        width: 4px;
        background-color: rgba(71, 71, 71, 0.6);
    }
}